<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="">

<title>ColonelKatsu's TechNote</title>

<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{/css/font.css}" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">
	<div id="wrapper">
		<ul th:replace="common/common.html :: sidebar"></ul>
		<div th:replace="common/common.html :: contentWrapper"></div>
	</div>

	<!-- Delete Post Modal-->
	<div class="post" th:each="post : ${posts}">
		<div sec:authorize="isAuthenticated()" class="modal fade"
			th:attr="id='deleteModal' + ${post.id}" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel"
							th:text="'Delete Post : ' + ${post.title} + ' ?'">Delete
							Post?</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						Do you want to delete this post? <br> Deleted post is nearly
						impossible to be rescued!
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button"
							data-dismiss="modal">Cancel</button>
						<a class="btn btn-danger"
							th:href="@{'/posts/'} + ${post.id} + '/delete'">Delete Post!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="common/common.html :: logoutModal"></div>
	<div th:replace="common/common.html :: javaScript"></div>
</body>

</html>