<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<title>TechNote :: Post</title>
</head>

<body>
	<div class="container">
		<h1><a th:href="@{'/'}">TechNote : by ColonelKatsu</a></h1>
		<hr />
		<div class="post">
			<h2 th:text="${post.title}">Title</h2>
			<p th:text="${post.body}">Body Text</p>
			<h5 th:text="'Posted by ' + ${post.account.firstname} + ' on ' + ${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}">Post Info</h5>
		</div>
	</div>
</body>